<nav class="navbar navbar-light bg-light navbar-expand-md mb-3">
    <a href="/" class="navbar-brand">Képviselőválasztó</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/" class="nav-link">Választókerületek</a></li>
            <li class="nav-item"><a href="/kepviselo/list" class="nav-link">Képviselőjelöltek</a></li>
            <li class="nav-item"><a href="/jelolo/list" class="nav-link">Jelölőszervezetek</a></li>
        </ul>
    </div>
</nav>